@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700&family=Roboto:wght@400;500&family=Sen:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container-366, .container-238, .container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  max-width: 1320px;
}

.container-238 {
  max-width: 1064px;
}

.container-366 {
  max-width: 808px;
}

.navbar__hight {
  height: 70px;
}

.navbar__btn {
  width: 185px;
  height: 60px;
  background: #1C1E53;
  padding: 20px 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
}

.pricing__heading {
  margin-top: 128px;
  margin-left: auto;
  margin-right: auto;
  width: 562px;
  height: 136px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.pricing__heading .heading__h2 {
  text-align: center;
  color: #282938;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.pricing__heading .heading__p {
  width: 562px;
  margin-left: 60px;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0px;
  gap: 30px;
}
.cards .card {
  width: 406px;
  height: 745px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 12px;
  background: #F4F6FC;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.cards .card .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.cards .card .card__header .card__h3 {
  margin-left: 48px;
  margin-top: 64px;
  width: 95px;
  height: 56px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #282938;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.cards .card .card__header .card__h4 {
  margin-top: 78px;
  color: #2405F2;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.cards .card .card__svg {
  display: block;
  margin-top: 35px;
  margin-left: 48px;
}
.cards .card .card__h6 {
  margin-left: 48px;
  margin-top: 20px;
  width: 180px;
  height: 38px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #282938;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.cards .card .card__p {
  margin-left: 48px;
  width: 281px;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
}
.cards .card .card__h2 {
  margin-top: -25px;
  display: block;
  margin-left: 78px;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.cards .card .cardd__h2 {
  display: block;
  margin-top: -25px;
  margin-left: 78px;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
.cards .card .hero__btnn {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 41px;
  background: #282938;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cards .card .hero__btnn:hover {
  color: #000000;
  background: #FCD980;
}
.cards .card .hero__btn {
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 41px;
  background: #282938;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cards .card .hero__btn:hover {
  color: #000000;
  background: #FCD980;
}
.cards .card:hover {
  border-radius: 12px;
  background: #1C1E53;
}
.cards .card:hover .card__h3 {
  color: #ffffff;
}
.cards .card:hover .card__h6 {
  color: #ffffff;
}
.cards .card:hover .card__p {
  color: #ffffff;
}
.cards .card:hover .card__h2 {
  color: #ffffff;
}
.cards .card:hover .cardd__h2 {
  color: #fdfdff;
}

.hood {
  display: block;
  margin-top: 128px;
  width: 406px;
  height: 160px;
}
.hood .hood__h2 {
  width: 406px;
  color: #282938;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.hood .hood__p {
  margin-top: 15px;
  color: #2405F2;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  opacity: 0.87;
}

.accordion-custom {
  display: block;
  margin-left: 430px;
  margin-top: -150px;
  width: 844px;
  height: 562px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.accordion-custom .accordion-body {
  margin-left: 150px;
}
.accordion-custom .accordion-button::after {
  background-image: url("/images/plus.svg");
}
.accordion-custom .accordion-button:not(.collapsed)::after {
  background-image: url("/images/minus.svg");
}

.gost {
  width: 100%;
  height: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #1C1E53;
}
.gost .footer__left {
  display: block;
}
.gost .footer__logo {
  display: block;
  margin-left: 150px;
  padding-top: 70px;
}
.gost .left__p {
  display: block;
  margin-top: 20px;
  margin-left: 150px;
  width: 399px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.8;
}
.gost .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 150px;
  gap: 50px;
  width: 457px;
  height: 95px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #FCD980;
}
.gost .info .info__left {
  margin-left: 55px;
}
.gost .info .info__h2 {
  display: block;
  padding-top: 10px;
  color: #282938;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.gost .info .info__h3 {
  display: block;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8;
}
.gost .footer__right {
  display: block;
  margin-left: 800px;
  margin-top: -220px;
}
.gost .footer__right .right__h2 {
  width: 333px;
  color: #FFF;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.gost .footer__right .right__p {
  width: 399px;
  color: #F4F6FC;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8;
}
.gost .footer__right .right__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  gap: 50px;
}