@use "../global";


.navbar__hight {
    height: 70px;
}

.navbar__btn {
    width: 185px;
    height: 60px;
    background: #1C1E53;
    padding: 20px 48px;
    align-items: center;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
}

.blog__hero {
    width: 1280px;
    height: 857px;
    margin: 50px 0px;

    .blog__h2 {
        width: 949px;
        margin-top: 128px;
        margin-left: 166px;
        color: #282938;
        text-align: center;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px;
    }

    .blog__img {
        margin-top: 50px;
        width: 1280px;
        height: 477px;
        flex-shrink: 0;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .blogg__p {
        margin-top: 20px;
        margin-left: 225px;
        width: 831px;
        color: #282938;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
    }

    .blogg__h6 {
        color: #2405F2;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
    }
}

.kenzo {
    text-align: center;
    color:  #282938;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 55px 0px;

    .card {
        width: 405px;
        height: 593px;
        flex-shrink: 0;

        .card__img {
            width: 405px;
            height: 285px;
            flex-shrink: 0;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        }

        .card__h5 {
            margin-top: 30px;
            color: #282938;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            opacity: 0.7;
        }

        .card__h3 {
            width: 404px;
            color: #282938;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
        }

        .card__p {
            display: block;
            width: 404px;
            color: #282938;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            opacity: 0.7;
        }

        .card__h6 {
            color: #1C1E53;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
        }

        .card__svg {
            display: block;
            margin-left: 90px;
            margin-top: -25px;
        }
    }
}






.gost {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    background: #1C1E53;

    .footer__left {
        display: block;
    }

    .footer__logo {
        display: block;
        margin-left: 150px;
        padding-top: 70px;
    }

    .left__p {
        display: block;
        margin-top: 20px;
        margin-left: 150px;
        width: 399px;
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        opacity: 0.8;
    }

    .info {
        display: flex;
        margin-left: 150px;
        gap: 50px;
        width: 457px;
        height: 95px;
        flex-shrink: 0;
        background: #FCD980;

        .info__left {
            margin-left: 55px;
        }

        .info__h2 {
            display: block;
            padding-top: 10px;
            color: #282938;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
        }

        .info__h3 {
            display: block;
            color: #282938;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            opacity: 0.8;
        }
    }

    .footer__right {
        display: block;
        margin-left: 800px;
        margin-top: -220px;

        .right__h2 {
            width: 333px;
            color: #FFF;
            font-family: Poppins;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 64px;
        }

        .right__p {
            width: 399px;
            color: #F4F6FC;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            opacity: 0.8;
        }

        .right__svg {
            display: flex;
            margin-top: 30px;
            gap: 50px;
        }
    }
}